<main id="calculator" class="split-pane-editor">
    <section class="editor-panel p-4" name="adventure-editor">
              <form class="adventure-form" onsubmit="return false;">
            <fieldset>
                <legend>
                    Attendance
                </legend>
                <ul>
                    <li class="md-card">
                        <label for="player-count" class="editor-label">Number of Players: </label> <input id="player-count" type="text" name="player-count" class="text-input"
                                                                                       hx-trigger="change" hx-target="#calculator" hx-patch="/tools/calculator/shares"
                                                                                      value="{{ .NumberOfPlayers }}" />
                    </li>
                    <li class="md-card">
                        <label for="hench-count" class="editor-label">Number of Henchmen </label> <input  id="hench-count" type="text" name="hench-count" class="text-input"
                                                                                       hx-trigger="change" hx-target="#calculator" hx-patch="/tools/calculator/shares"
                                                                             value="{{ .NumberOfHenchmen}}"/>
                    </li>
                </ul>
            </fieldset>
            <fieldset>
                <legend>
                    Coins
                </legend>
                <ul>
                    <li class="md-card">
                        <label for="copper" class="editor-label">Copper: </label> <input id="copper"  type="text" name="copper" class="text-input"
                                                                      hx-trigger="change" hx-target="#calculator" hx-patch="/tools/calculator/coins"
                                                                      value="{{ .Copper}}" />
                    </li>
                    <li class="md-card">
                        <label for="silver" class="editor-label">Silver: </label> <input id="silver" type="text" name="silver" class="text-input"
                                                                     hx-trigger="change" hx-target="#calculator" hx-patch="/tools/calculator/coins"
                                                                     value="{{ .Silver}}" />
                    </li>
                    <li class="md-card">
                        <label for="electrum" class="editor-label">Electrum: </label> <input id="electrum" type="text" name="electrum" class="text-input"
                                                                          hx-trigger="change" hx-target="#calculator" hx-patch="/tools/calculator/coins"
                                                                          value="{{ .Electrum }}"/>
                    </li>
                    <li class="md-card">
                        <label for="gold" class="editor-label">Gold: </label> <input id="gold" type="text" name="gold" class="text-input"
                                                                hx-trigger="change" hx-target="#calculator" hx-patch="/tools/calculator/coins"
                                                                value="{{ .Gold }}" />
                    </li>
                    <li class="md-card">
                        <label for="platinum" class="editor-label">Platinum: </label> <input id="platinum" type="text" name="platinum" class="text-input"
                                                                         hx-trigger="change" hx-target="#calculator" hx-patch="/tools/calculator/coins"
                                                                         value="{{ .Platinum }}" />
                    </li>
                </ul>
            </fieldset>
            <fieldset>
                <legend>
                    Special Treasure
                </legend>
                <ul>
                    {{ range $id, $treasure := .SpecialTreasures }}
                    <li class="item-card">
                        <label for="treasure-name-{{ $id }}" class="editor-label">Treasure Name: </label> <input id="treasure-name-{{ $id }}"  type="text" name="treasure-name-{{ $id }}" class="text-input"
                                                                      hx-trigger="change" hx-target="#calculator" hx-patch="/tools/calculator/special-treasure/{{ $id }}"
                                                                      value="{{ $treasure.Name }}" />
                        <label for="treasure-value-{{ $id }}"  class="editor-label">Treasure Value: </label> <input id="treasure-value-{{ $id }}"  type="text" name="treasure-value-{{ $id }}" class="text-input"
                                                                      hx-trigger="change" hx-target="#calculator" hx-patch="/tools/calculator/special-treasure/{{ $id }}"
                                                                      value="{{ $treasure.GPValue }}" />
                        <label for="treasure-collected-{{ $id }}"  class="editor-label">Treasure Collected: </label> <input id="treasure-collected-{{ $id }}"  type="text" name="treasure-collected-{{ $id }}" class="text-input"
                                                                      hx-trigger="change" hx-target="#calculator" hx-patch="/tools/calculator/special-treasure/{{ $id }}"
                                                                      value="{{ $treasure.Number }}" />
                        <button type="button" class="delete-button"
                                hx-trigger="mousedown" hx-target="#calculator" hx-delete="/tools/calculator/special-treasure/{{ $id }}"> Delete</button>
                    </li>
                    {{ end }}
                    <button type="button" class="create-button"
                            hx-trigger="mousedown" hx-target="#calculator" hx-post="/tools/calculator/special-treasure">Add Special Treasure</button>
                </ul>
            </fieldset>
            <fieldset>
                <legend>
                    Combat XP
                </legend>
                <ul>
                    {{ range $id, $combat := .Combat }}
                    <li class="item-card">
                        <label for="combat-name-{{ $id }}"  class="editor-label">Monster Name: </label> <input id="combat-name-{{ $id }}"  type="text" name="combat-name-{{ $id }}" class="text-input"
                                                                      hx-trigger="change" hx-target="#calculator" hx-patch="/tools/calculator/combat/{{ $id }}"
                                                                      value="{{ $combat.Name }}" />
                        <label for="combat-value-{{ $id }}"  class="editor-label">XP Value: </label> <input id="combat-value-{{ $id }}"  type="text" name="combat-value-{{ $id }}" class="text-input"
                                                                      hx-trigger="change" hx-target="#calculator" hx-patch="/tools/calculator/combat/{{ $id }}"
                                                                      value="{{ $combat.XPValue }}" />
                        <label for="combat-defeated-{{ $id }}"  class="editor-label">Number Defeated: </label> <input id="combat-defeated-{{ $id }}"  type="text" name="combat-defeated-{{ $id }}" class="text-input"
                                                                      hx-trigger="change" hx-target="#calculator" hx-patch="/tools/calculator/combat/{{ $id }}"
                                                                      value="{{ $combat.NumberDefeated }}" />
                        <button type="button" class="delete-button"
                                hx-trigger="mousedown" hx-target="#calculator" hx-delete="/tools/calculator/combat/{{ $id }}"> Delete</button>
                    </li>
                    {{ end }}
                    <button type="button" class="create-button"
                            hx-trigger="mousedown" hx-target="#calculator" hx-post="/tools/calculator/combat">Add Combat</button>
                </ul>
            </fieldset>
            <fieldset>
                <legend>
                    Magic Items
                </legend>
                <ul>
                    {{ range $id, $item := .MagicItems }}
                    <li class="item-card">
                        <label for="mi-name-{{ $id }}" class="editor-label">Magic Item Name:</label> <input id="mi-name-{{ $id }}"  type="text" name="mi-name-{{ $id }}" class="text-input"
                                                                      hx-trigger="change" hx-target="#calculator" hx-patch="/tools/calculator/magic-item/{{ $id }}"
                                                                      value="{{ $item.Name }}" />
                        <label for="mi-apparent-value-{{ $id }}" class="editor-label" >Apparent Value:</label> <input id="mi-apparent-value-{{ $id }}"  type="text" name="mi-apparent-value-{{ $id }}" class="text-input"
                                                                      hx-trigger="change" hx-target="#calculator" hx-patch="/tools/calculator/magic-item/{{ $id }}"
                                                                      value="{{ $item.ApparentValue }}" />
                        <label for="mi-is-sold-{{ $id }}" class="editor-label">Sold without use?</label> <input id="mi-is-sold-{{ $id }}"  type="checkbox" name="mi-is-sold-{{ $id }}" class="checkbox-input"
                                                                      hx-trigger="change" hx-target="#calculator" hx-patch="/tools/calculator/magic-item/{{ $id }}"
                                                                       value="true" {{ if eq $item.IsSold true }} checked {{ end }} />
                        <label for="mi-sell-value-{{ $id }}" class="editor-label">Sell Price:</label> <input id="mi-sell-value-{{ $id }}"  type="text" name="mi-sell-value-{{ $id }}" class="text-input"
                                                                      hx-trigger="change" hx-target="#calculator" hx-patch="/tools/calculator/magic-item/{{ $id }}"
                                                                      value="{{ $item.SellValue }}" {{ if eq $item.IsSold false }} value=0 readonly {{ end }} />
                        <button type="button" class="delete-button"
                                hx-trigger="mousedown" hx-target="#calculator" hx-delete="/tools/calculator/magic-item/{{ $id }}"> Delete</button>
                    </li>
                    {{ end }}
                    <button type="button" class="create-button"
                            hx-trigger="mousedown" hx-target="#calculator" hx-post="/tools/calculator/magic-item">Add Magic Item</button>
                </ul>
            </fieldset>
        </form>
    </section>
    <section id="results-panel" class="result-panel">
            <div role="group" aria-labelledby="session-summary">
                <span id="session-summary">Session Treasure Summary</span>
                <dl>
                    <dt>Total Shares</dt>
                    <dd>{{ .TotalShares }}</dd>
                    <dt> Total Gold From Coins</dt>
                    <dd>{{ .TotalCoinGold }}</dd>

                    <dt>Total Gold Value<dt> w
                    <dd> {{ .TotalGPValue }}</dd>

                    <dt>Total XP Value<dt>
                    <dd> {{ .TotalXPValue }}</dd>
                    <dt>Player XP Share<dt>
                    <dd> {{ .FullXPShare }}</dd>
                </dl>
                <button class="modal-open-button"
                        hx-get="/tools/calculator/summary" hx-target="body" hx-swap="beforeend">Verily!</button>
            </div>
            <div>
                <span>Errors</span>
                <ul>
                    {{ range .Errors }}
                    <li> {{ . }} </li>
                    {{ end }}
                </ul>
            </div>
    </section>
</main>
