<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>The Keep on the Internet</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ template "includes.html" }}
    </head>
    <body>
        <header>
            {{ template "banner.html" }}
            {{ template "nav.html" }}
        </header>
        <div class="container">
            <main>
                <section>
                    <p>Borderland Keep is a hobby site aimed at providing services to the ttrpg players, primarily targeting the ACKS II system. The programmer and webmaster is ShockTohp, also known as Flooded Realms.</p>
                </section>
                <section>
                    <hgroup>
                        <h3>Contact</h3>
                        <dl>
                            <dd>Via email:</dd>
                            <dt> <a href:"mailto:shocktohp@floodedrealms.com">ShockTohp</a></dt>
                            <dd>Via Matrix:</dd>
                            <dt>@shocktohp:tavern.borderlandkeep.com</dt>
                        </dl>
                    </hgroup>
                </section>
                <section>
                                        <a href="https://buymeacoffee.com/floodedrealms">Buy Shock a coffee</a><
                </section>
            </main>
        </div>
    </body>
</html>
