<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>The Keep on the Internet</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,400;0,700;1,400;1,700&family=Alegreya+Sans:ital,wght@0,400;0,700;1,400;1,700&family=MedievalSharp&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <div class="banner">
                <img src="assets/images/banner_image_1.png">
                <div class="with-sub">
                    <p>Adventure on the web!</p>
                    <h1>The Keep on the Internet</h1>
                </div>
            </div>
            <nav class="navbar">
                    <a href="index.html">Home</a>
                    <a href="about.html">About</a>
                    <a href="links.html">Links</a>
            </nav>
        </header>
    <main>
        <div class="container">
        <section class=goblin>
            <h1>The Dice Goblin</h1>
            <h3>Behold his glory</h3>
            <img src="assets/images/dice_goblin.png">
        </section>
        </div>
    </main>
            <aside>
                <a href="dicegoblin.html">Visit the Dice Goblin</a>
            </aside>
        <footer>
            <div class="toggle-widget">
                <span class="toggle-hint" id="current-theme-hint">Change ye color</span>
                <div class="toggle-row">
                    <span class="toggle-label" id="label-dark"><img src="assets/images/mana.black.gif"></span>
                    <label class="toggle" aria-label="Toggle theme">
                        <input type="checkbox" id="theme-toggle" />
                        <span class="toggle-knob"><img src="assets/images/aniarm.gif"></span>
                    </label>
                    <span class="toggle-label" id="label-light"><img src="assets/images/mana.white.gif"></span>
                </div>
            </div>
        </footer>
        <script src="scripts/toggle-theme.js"></script>
        <script src="scripts/check-services.js"></script>
    </body>
</html>
