<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>The Keep on the Internet</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
            {{ template "includes.html" }}
    </head>
    <body>
        <header>
            {{ template "banner.html" }}
            {{ template "nav.html" }}
        </header>
        <div class="container">
            <main>
                <section>
                <p>Servers aren't free! The site and services that make Borderland Keep dot com possible costs money. This site does not serve adds and never will as long as I own it, but if you find any of the tools it offers helpful, please donate to help keep the lights on.</p>
                </section>
                <ul>
                    <li><a href="https://buymeacoffee.com/floodedrealms">Buy Shock a coffee</a></li>
                </ul>
            </main>
        </div>
        <script src="/static/scripts/check-services.js"></script>
    </body>
</html>
